html {overflow-y: scroll;}
body {font-family: 'Ubuntu', sans-serif; font-size: 14px; line-height: 145%; color: #fff; background: rgba(70,70,70,0.92);}
* {margin: 0; padding: 0;}

a {text-decoration: none; cursor: pointer; transition: all .12s ease-out;}
strong {font-weight: 600;}
img {max-width: 100%;}

.anchor {position: absolute; margin-top: -105px;}

.loader {position: absolute; top: 3px; left: 0; right: 0; bottom: 0;width: 100%; height: auto; background: rgba(70,70,70,0.85) url(http://hello-site.ru//main/images/preloads/puff.svg) center 95px no-repeat;background-size:20px;  z-index: 99;}
.loader.small {position: relative; width: 20px; height: 20px; background-size: 20px; background: #464646 url(http://hello-site.ru//main/images/preloads/puff.svg) center 95px no-repeat; z-index: 99;}

.mobile-not {display: none; position: relative; background: #2ecc71; width: 100%; padding: 20px; color: #fff;}

/* Main */

main {width: 100%;}
main section {width: 75%; margin: 0 auto;}

main.letsplays {padding: 105px 0 60px;}

main section.nav {padding: 30px 0 30px;}
main section.nav a {color: #bdc3c7;}
main section.nav img {height: 14px; margin: 0 12px -2px 0; transition: all .12s ease-out;}
main section.nav a:hover {color: #fff;}
main section.nav a:hover img {margin: 0 8px -2px 0;}

main section.about {margin: -20px auto 0; padding: 0 0 120px; word-spacing: 2px;}
main section.about h2 {font-size: 16px; padding: 60px 0 10px;}
main section.about p {padding: 10px 0 5px;}
main section.about a {color: #bdc3c7;}
main section.about a:hover {color: #fff;}

main section.list {padding: 0 0 60px;}

main section .homepage {position: absolute; display: block; width: 100%; height: 100%; top: 0; left: 0; display: flex; align-items: center; justify-content: center; overflow: auto;}
main section .homepage .inner {width: 75%; height: 460px; margin: -60px 0 0 0;}

main section .homepage .inner .about {margin: 0 0 110px 0;}
main section .homepage .inner .about h1 {font-size: 20px;}
main section .homepage .inner .about h2 {font-size: 16px; color: #bdc3c7; padding: 20px 0 0;}

main section .homepage .inner .count {margin: 40px 0 0;}		
main section .homepage .inner .section {display: inline-block; margin: 0 70px 0 0;}
main section .homepage .inner .section h1 {display: inline-block; font-size: 20px; word-spacing: 3px; padding: 0 15px 0 0;}
main section .homepage .inner .section h2 {display: inline-block; font-size: 16px; color: #bdc3c7;}

main section .homepage .inner .rubrics {margin: 110px 0 0;}
main section .homepage .inner .rubrics h2 {display: block; font-size: 15px; color: #bdc3c7; margin: 0 0 20px;}
main section .homepage .inner .rubrics a {color: #fff; padding: 20px; margin: -20px 60px -20px -20px;}
main section .homepage .inner .rubrics a:hover {color: #2ecc71;}


/* Search */

main section.search .stroke {padding: 20px 0 40px;}
main section.search .stroke h1 {font-size: 16px;}
main section.search .stroke h2 {padding: 5px 0 0; color: #bdc3c7;}
main section.search .stroke span {padding: 0 10px;}
main section.search .stroke span strong {padding: 0 2px;}

main section.search .char {padding: 20px 0;}
main section.search .char h1 {font-size: 16px;}
main section.search .char h2 {padding: 5px 0 0; color: #bdc3c7;}

.section-search {padding: 40px 0 0;}
.section-search .notify {color: #bdc3c7; margin: -10px 0 0;}
.section-search-input.letsplays {margin: 0 0 60px 0;}
.section-search-input {height: 50px; width: 100%; padding: 15px 0 0 20px; background: #fff; color: #565656; border-radius: 3px;}
.section-search-input input {background: none; border: none; outline: none; width: 75%; padding: 1px 15px 15px; font-family: 'Ubuntu', sans-serif; font-size: 14px; color: #565656; line-height: 145%;}
.section-search-input form {display: inline;}
.section-search-input ::-webkit-input-placeholder {opacity: 0.75;}
.section-search-input img {height: 14px; margin: 0 0 -2px 0;}
.section-search-input-control {float: right;}
.section-search-input-control .button {display: inline-block; position: relative;}
.section-search-input-control .button a {background: #2ecc71; color: #fff; border-radius: 0 3px 3px 0; padding: 17px 40px;}
.section-search-input-control .button a:hover {background: #27ae60;}
.section-search-input-control .indication {display: inline-block; position: relative; margin: 0 23px 0 0; padding: 9px 0 0 0;}
.section-search-input-control .indication .dot {height: 6px; width: 6px; margin: 0 0 0 0; background-color: #34495e; border-radius: 50%;}
.section-search-input-control .indication .dot.emerald {background: #2ecc71;}
.section-search-input-control .indication .dot.silver {background: #bdc3c7;}
.section-search-input-control .indication .ldr-single {height: 6px; width: 6px; margin: 0 0 0 0; background: #34495e; border-radius: 50%; -webkit-animation: single3 2s infinite ease-in-out; animation: single3 2s infinite ease-in-out;}



/* Lestplays */

.letsplay-header {padding: 40px 0 45px;}
.letsplay-header h1 {display: inline-block; font-size: 20px;}
.letsplay-header h2 {display: inline-block; font-size: 16px; color: #bdc3c7;}
.letsplay-header h2 span {padding: 0 0 0 40px;}
.letsplay-header .download {display: inline-block; float: right; margin: 3px 0 0 0;}
.letsplay-header .download a {color: #bdc3c7; margin: 0 30px 0 0;}
.letsplay-header .download a img {height: 16px; margin: 0 0 -4px 12px; transition: all .12s ease-out;}
.letsplay-header .download a:hover {color: #fff;}
.letsplay-header .download a:hover img {margin: 0 0 -4px 8px;}
.letsplay-header .download img {height: 14px; margin: 0 0 -2px 0; opacity: 0.8; transition: all .12s ease-out;}

.choise-letter {position: fixed; top: 0; left: 0; width: 100%; height: 65px; padding: 23px 0; background: #fff; z-index: 99; box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.03), 0px 2px 7px 0px rgba(0,0,0,0.06);}
.choise-letter section {width: 75%; margin: 0 auto; text-align: right;}
.choise-letter section a {display: inline; font-size: 14px; color: #bdc3c7; padding: 13px;}
.choise-letter section .left {float: left;}
.choise-letter section .left img {transform: rotate(-90deg); transition: all .12s ease-out;}
.choise-letter section a#active {color: #27ae60;}
.choise-letter section a:hover {color: #27ae60;}
.choise-letter section span:last-child {margin: 0 -14px 0 0;}
.choise-letter section span:first-child {margin: 0 0 0 -14px;}
.choise-letter section img {height: 16px; margin: 0 10px -3px 0;}

.grid-title {margin: 20px 0 40px;}
.grid-title h1 {font-size: 16px; margin: 0 0 10px;}
.grid-title h2 {font-size: 14px; color: #bdc3c7;}

.watch {position: relative; width: 100%; margin: 0 auto; padding: 0 0 100px;}

.video {width: 100%; border-radius: 3px;}
.video .wrapper {position: relative; padding-bottom: 56.25%; height: 0; margin: 0; overflow: hidden; border-radius: 3px; z-index: 99;}
.video .wrapper iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 3px; overflow: hidden;}

.video .control {display: block; margin: 40px 0; text-align: center;}
.video .control a {color: #bdc3c7;}
.video .control a img {height: 14px;}
.video .control a.left {display: inline; float: left;} 
.video .control a.left img {margin: 0 12px -2px 0; transition: all .12s ease-out;}
.video .control a.right {display: inline; float: right;}
.video .control a.right img {margin: 0 0 -2px 12px; transition: all .12s ease-out;}
.video .control a:hover {color: #fff;}
.video .control a.left:hover img {margin: 0 8px -2px 0;}
.video .control a.right:hover img {margin: 0 0 -2px 8px;}
.video .control a.left.disabled {opacity: 0.4; cursor: default;}
.video .control a.right.disabled {opacity: 0.4; cursor: default;}
.video .control a.left.disabled:hover img {margin: 0 12px -2px 0;}
.video .control a.right.disabled:hover img {margin: 0 0 -2px 12px;}
.video .control a.disabled:hover {color: #bdc3c7;}
.video .control .alter {position: relative; text-align: center; margin: 0 auto; width: 25%;}

.video .comments {position: relative; display: block; border-radius: 3px;}
.video .comments iframe {border-radius: 3px;}


/* Grid */

.grid {margin: 0 -20px; height: auto;}
.grid:after {content: ""; display: table; clear: both;}

/* Column */

[class*='col-'] {float: left;}

/* Column - 20% */

.col-1-5 {width: 20%; height: auto; position: relative; padding: 0 20px 40px; transition: all .12s ease-out;}
.col-1-5 .col-1-5-content {width: 100%; background: #464646; border-radius: 3px; transition: all .12s ease-out;}
.col-1-5 .col-1-5-content .badge {position: absolute; background: url(../images/icn/play.svg) no-repeat center center; height: 23px; width: 23px; background-size: 23px; top: 20.5%; left: 45.5%; opacity: 0; transition: all .12s ease-out;}
.col-1-5 .col-1-5-content .image img {border-radius: 3px; opacity: .9; transition: all .12s ease-out;}

.col-1-5 .col-1-5-title {width: 100%;}
.col-1-5 .col-1-5-title h1 {font-size: 14px; color: #fff; padding: 12px 0 5px; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; white-space: nowrap;}
.col-1-5 .col-1-5-title h2 {font-size: 13px; color: #bdc3c7;}

.col-1-5 .col-1-5-title h2.top {transition: all .12s ease-out;}
.col-1-5 .col-1-5-title h2.down {margin: -5px 0 0 0; opacity: 0; position: absolute; transition: all .12s ease-out;}

.col-1-5:hover {margin: -6px 0 6px;}
.col-1-5:hover .col-1-5-content {box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.05), 0px 3px 20px 0px rgba(0,0,0,0.1);}
.col-1-5:hover .col-1-5-content .badge {transform: scale(1.1); opacity: 1;}
.col-1-5:hover .col-1-5-content .image img {opacity: .6;}
.col-1-5:hover .col-1-5-title h2.top {margin: -15px 0 15px 0; opacity: 0;}
.col-1-5:hover .col-1-5-title h2.down {margin: -20px 0 0 0; opacity: 1;}


/* Footer */

footer {position: fixed; bottom: 0; width: 100%; background: rgba(70,70,70,0.99); z-index: 99;}
footer section {width: 75%; color: #bdc3c7; text-align: right; margin: 0 auto; padding: 16px 0;}
footer section span {float: left;}
footer section a {color: #bdc3c7; padding: 25px;}
footer section a:hover {color: #fff;}
footer section a.vk:hover {color: #597da3;}
footer section a.tw:hover {color: #734bbf; /* #6441a5 */}
footer section a.yt:hover {color: #bf171d; /* #cc181e */}
footer section a:last-child {margin: 0 -25px 0 0;}


/* Other */

::-webkit-scrollbar {width: 4px; height: 4px;}
::-webkit-scrollbar-button {background-color: none;}
::-webkit-scrollbar-track {}
::-webkit-scrollbar-track-piece {background-color: #464646;}
::-webkit-scrollbar-thumb {height: 50px; background-color: #2ecc71;}


/* Animation */
   
@-webkit-keyframes single3 {0%, 20%, 40%, 60%, 100% { -webkit-transform: scale(.2); transform: scale(.2); opacity: 0;} 10%, 30%, 50% { -webkit-transform: scale(1); transform: scale(1); opacity: 1;}}
@keyframes single3 {0%, 20%, 40%, 60%, 100% { -webkit-transform: scale(.2); transform: scale(.2); opacity: 0;} 10%, 30%, 50% { -webkit-transform: scale(1); transform: scale(1); opacity: 1;}}

/* Adaptive */

@media screen and (min-width: 1920px) {

	main section {width: 60%;}
	main section .homepage .inner {width: 60%;}
	
	.choise-letter section {width: 60%;}
	
	footer section {width: 60%;}

}

@media screen and (min-width: 320px) and (max-width: 1024px) {
    
    main section {width: 90%;}
	main section .homepage .inner {width: 90%; height: 250px; margin: 0;}
	main section .homepage .inner .about {margin: 0 0 40px;}
	main section .homepage .inner .about h1 {font-size: 18px;}
    main section .homepage .inner .about h2 {font-size: 14px; color: #bdc3c7; padding: 20px 0 0;}
    main section .homepage .inner .count {display: none;}		
    main section .homepage .inner .rubrics {margin: 60px 0;}
    main section .homepage .inner .rubrics h2 {display: none;}
    main section .homepage .inner .rubrics a {display: none;}
    main section .homepage .inner .rubrics a:nth-child(2) {display: block;}

	footer section {width: 90%;}
    
    .mobile-not {display: block;}

    main.letsplays {padding: 60px 0;}

    main section.nav {display: none;}

    .section-search-input input {width: 56%; padding: 1px 0 15px 15px;}
    .section-search-input-control .button a {padding: 17px 30px;}
    .section-search-input-control .indication {display: none;}
    
    main section.search {padding: 40px 0;}
    main section .homepage .inner .section {margin: 0 50px 0 0;}

    .grid {margin: 0 -10px; height: auto;}
    .col-1-5 {width: 50%; padding: 0 10px 20px;}
    .col-1-5 .col-1-5-content .badge {display: none;}
    .col-1-5:hover {margin: 0;}
    
    .choise-letter {display: none;}

    .letsplay-header h1 {padding: 0 0 20px; line-height: 145%;}
    .letsplay-header h2 {display: block;}
    .letsplay-header h2 span {padding: 0 20px 0 0;}
    .letsplay-header .download {display: none;}
    
    .video .control a {font-size: 0px;}
    .video .control .alter {opacity: 0;}
	
	footer {display: none;}

}

